Vucem.Microservice.Api/Connected Services/VucemConsultaAPI/ConsultaManifestacionService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:ns0="http://ws.consultamanifestacion.manifestacion.www.ventanillaunica.gob.mx" targetNamespace="http://ws.consultamanifestacion.manifestacion.www.ventanillaunica.gob.mx" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="consultaManifestacion">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="datosManifestacion" type="ns0:datosManifestacionGeneral" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="consultaManifestacionResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="return" type="ns0:RespuestaConsultaGeneral" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="datosManifestacionGeneral">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="numeroOperacion" type="xsd:long" />
      <xsd:element minOccurs="0" name="eDocument" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="RespuestaConsultaGeneral">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="rfcSolicitante" type="xsd:string" />
      <xsd:element minOccurs="0" name="nombreORazonSocialSolicitante" type="xsd:string" />
      <xsd:element minOccurs="0" name="rfcImportador" type="xsd:string" />
      <xsd:element minOccurs="0" name="nombreORazonSocialImportador" type="xsd:string" />
      <xsd:element minOccurs="0" name="fechaYHoraRecepcion" type="xsd:dateTime" />
      <xsd:element minOccurs="0" name="operacion" type="xsd:string" />
      <xsd:element minOccurs="0" name="eDocument" type="xsd:string" />
      <xsd:element minOccurs="0" name="coves" type="xsd:string" />
      <xsd:element minOccurs="0" name="selloDigitalSolicitante" type="xsd:string" />
      <xsd:element minOccurs="0" name="selloDigitalVentanilla" type="xsd:string" />
      <xsd:element minOccurs="0" name="cadenaOriginal" type="xsd:string" />
      <xsd:element minOccurs="0" name="estatus" type="xsd:string" />
      <xsd:element minOccurs="0" name="solicitante" type="ns0:Solicitante" />
      <xsd:element minOccurs="0" name="importador-exportador" type="ns0:ImportadorExportador" />
      <xsd:element minOccurs="0" name="datosManifestacionValor" type="ns0:DatosManifestacionValor" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="mensaje" nillable="true" type="ns0:MensajeRespuesta" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Solicitante">
    <xsd:sequence>
      <xsd:element name="rfcSolicitante" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ImportadorExportador">
    <xsd:sequence>
      <xsd:element name="rfc" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DatosManifestacionValor">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="personaConsulta" type="ns0:PersonaConsulta" />
      <xsd:element maxOccurs="unbounded" name="documentos" type="ns0:Documento" />
      <xsd:element maxOccurs="unbounded" name="informacionCove" type="ns0:InformacionCove" />
      <xsd:element name="valorEnAduana" type="ns0:ValorEnAduana" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PersonaConsulta">
    <xsd:sequence>
      <xsd:element name="rfc" type="xsd:string" />
      <xsd:element name="tipoFigura" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Documento">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="eDocument" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="InformacionCove">
    <xsd:sequence>
      <xsd:element name="cove" type="xsd:string" />
      <xsd:element name="incoterm" type="xsd:string" />
      <xsd:element name="existeVinculacion" type="xsd:long" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="pedimento" nillable="true" type="ns0:Pedimento" />
      <xsd:element maxOccurs="unbounded" name="precioPagado" type="ns0:PrecioPagado" />
      <xsd:element maxOccurs="unbounded" name="precioPorPagar" type="ns0:PrecioPorPagar" />
      <xsd:element maxOccurs="unbounded" name="compensoPago" type="ns0:CompensoPago" />
      <xsd:element name="metodoValoracion" type="xsd:string" />
      <xsd:element maxOccurs="unbounded" name="incrementables" type="ns0:Incrementables" />
      <xsd:element maxOccurs="unbounded" name="decrementables" type="ns0:Decrementables" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Pedimento">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="pedimento" type="xsd:string" />
      <xsd:element minOccurs="0" name="patente" type="xsd:string" />
      <xsd:element minOccurs="0" name="aduana" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PrecioPagado">
    <xsd:sequence>
      <xsd:element name="fechaPago" type="xsd:dateTime" />
      <xsd:element name="total" type="xsd:decimal" />
      <xsd:element name="tipoPago" type="xsd:string" />
      <xsd:element minOccurs="0" name="especifique" type="xsd:string" />
      <xsd:element name="tipoMoneda" type="xsd:string" />
      <xsd:element name="tipoCambio" type="xsd:decimal" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PrecioPorPagar">
    <xsd:sequence>
      <xsd:element name="fechaPago" type="xsd:dateTime" />
      <xsd:element name="total" type="xsd:decimal" />
      <xsd:element minOccurs="0" name="situacionNofechaPago" type="xsd:string" />
      <xsd:element name="tipoPago" type="xsd:string" />
      <xsd:element minOccurs="0" name="especifique" type="xsd:string" />
      <xsd:element name="tipoMoneda" type="xsd:string" />
      <xsd:element name="tipoCambio" type="xsd:decimal" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CompensoPago">
    <xsd:sequence>
      <xsd:element name="tipoPago" type="xsd:string" />
      <xsd:element name="fecha" type="xsd:dateTime" />
      <xsd:element name="motivo" type="xsd:string" />
      <xsd:element name="prestacionMercancia" type="xsd:string" />
      <xsd:element minOccurs="0" name="especifique" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Incrementables">
    <xsd:sequence>
      <xsd:element name="tipoIncrementable" type="xsd:string" />
      <xsd:element name="fechaErogacion" type="xsd:dateTime" />
      <xsd:element name="importe" type="xsd:decimal" />
      <xsd:element name="tipoMoneda" type="xsd:string" />
      <xsd:element name="tipoCambio" type="xsd:decimal" />
      <xsd:element name="aCargoImportador" type="xsd:long" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Decrementables">
    <xsd:sequence>
      <xsd:element name="tipoDecrementable" type="xsd:string" />
      <xsd:element name="fechaErogacion" type="xsd:dateTime" />
      <xsd:element name="importe" type="xsd:decimal" />
      <xsd:element name="tipoMoneda" type="xsd:string" />
      <xsd:element name="tipoCambio" type="xsd:decimal" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ValorEnAduana">
    <xsd:sequence>
      <xsd:element name="totalPrecioPagado" type="xsd:decimal" />
      <xsd:element name="totalPrecioPorPagar" type="xsd:decimal" />
      <xsd:element name="totalIncrementables" type="xsd:decimal" />
      <xsd:element name="totalDecrementables" type="xsd:decimal" />
      <xsd:element name="totalValorAduana" type="xsd:decimal" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="MensajeRespuesta">
    <xsd:sequence>
      <xsd:element name="codigoError" type="xsd:string" />
      <xsd:element name="descripcionError" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="consultaManifestacion" type="ns0:consultaManifestacion" />
  <xsd:element name="consultaManifestacionResponse" type="ns0:consultaManifestacionResponse" />
  <xsd:element name="datosManifestacion" type="ns0:datosManifestacionGeneral" />
  <xsd:element name="RespuestaConsultaGeneral" type="ns0:RespuestaConsultaGeneral" />
</xsd:schema>